.profile-main__avatar {
    width: 120px;
    height: 120px;
    background-image: url(../../../images/image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    border-radius: 50%;
}

@media screen and (max-width: 320px) {
    .profile-main__avatar {
        margin-bottom: 26px;
    }
}